[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==1.0.0"
html2text = "==2020.1.16"
llama-index = "==0.9.10"
beautifulsoup4 = "==4.12.2"
pinecone-client = "==2.2.4"
nltk = "==3.8.1"
streamlit = "==1.29.0"
llama-cpp-python = "==0.2.20"
replicate = "==0.21.1"
transformers = "==4.35.2"
torch = "==2.1.1"
accelerate = "==0.25.0"

[dev-packages]

[requires]
python_version = "3.10"
